.leaderboard {
    margin-top: 50px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.leaderboard > div {
    min-height: 330px;
    /* overflow-y: scroll; */
    background: #36502d96;
    border-radius: 5px;
}

.table {
    min-width: 250px;
}

th, td {
    padding: 1em;
    text-align: center;
}

th {
    border-bottom: solid 1px;
}

.leaderboard u1 {
    font-size: 30px;
}